html, body {
  min-height: 100%;
  /*height: 100%;*/
  /*margin: 0;*/
  /*padding: 0;*/
}

body {
  background: linear-gradient( to left top, blue, violet );
}

#ascii, #unicode {
  background: linear-gradient( to right top, white, wheat );
  height: 50vh;
  width: 40vw;
}

@media (max-width: 500px) {
  #ascii, #unicode {
    width: 95vw;
  }
}

#mapchooser {
  padding: 10px;
  margin-top: -50vh;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}